$white:#F0F0F0;
$yellow:#F9D949;
$red:#F45050;
$blue:#3C486B;
$svg-path: '../../../assets/bcg.svg';

.login{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('#{$svg-path}') no-repeat center center;
  background-size: cover;
    // background: #5f2c82;  /* fallback for old browsers */
    //     background: -webkit-linear-gradient(to top, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
    //     background: linear-gradient(to top, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background-color: $white;
    & form{
        background-color: $white;
        background: #F0F0F0;
        width: 30%;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 3rem 2rem;
        & button:hover {
            cursor: pointer;
            background-color: $white;
            color: $red;
            border: 1px solid $red;
        }
        & button{
            background-color: $red;
            color: $white;
            transition: 0.4s;
            width: 100%;
        }
        & .link{
            color: blue;
            cursor: pointer;
        }
        & .link:hover{
            text-decoration: underline;
        } 
        & .inp:focus{
            outline: none;
            border-color: $blue !important;
            outline-color: none;
            box-shadow: 0 0 1px $blue;
        }
    }
}