$white:#F0F0F0;
$yellow:#F9D949;
$red:#F45050;
$blue:#3C486B;

.nav{
    background-color: $blue;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    & .right-lg{
        display: flex;
        gap: 1.6rem;
        justify-content: center;
        align-items: center;
        & a:hover{
            color: $red;
        }
    }
}
